* {
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
}

.head {
    /* border:1px solid black; */
    width: 100vw;
    height: 10vh;
    background-color: rgb(0, 137, 178);
    display: flex;
    position: sticky;
    top: 0;
}

.headj img {
    display: flex;
    justify-content: center;
    width: 8vw;
    height: 5vh;
}

.headj {
    display: flex;
    align-items: center;
    margin-left: 10rem;
}

#search {
    width: 40vw;
    height: 5vh;
    border-radius: 2rem;
    background-color: #046b8e;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    display: flex;
    margin-left: 20rem;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.for-flex {
    display: flex;
}

::placeholder {
    color: white;
    opacity: 1;
    padding-left: 1.5rem;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-flex1 {
    /* border:1px solid red; */
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.sign {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.navs2 {
    /* border:1px solid; */
    width: 100vw;
    height: 6vh;
    background-color: #046b8e;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.space {
    padding-left: 10rem;
}

.option {
    /* border:1px solid black; */
    width: 100vw;
    height: 8.6vh;
    display: flex;
    position: sticky;
    top: 4.5rem;
    background-color: white;
}

.right_arrow {
    display: flex;
    align-items: center;
    padding-left: 7rem;
}

.jio_utsav img {
    width: 2vw;
    height: 4vh;
    display: flex;
    align-items: center;
    align-self: center;
}

.jio_utsav {
    display: flex;
}

.live {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.for-flex36 {
    display: flex;
    padding-left: 2rem;
    gap: 1rem;
}

.left_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon {
    /* border:1px solid; */
    width: 82vw;
    height: 28vh;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

.coupon img {
    width: 82vw;
    height: 28vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    border-radius: 2rem;
}

.for-flex67 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo_three {
    /* border:1px solid; */
    width: 82vw;
    height: 34vh;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
}

.photo1 {
    /* border: 1px solid black; */
    width: 26.6vw;
    height: 34vh;
}

.photo1 img {
    width: 26.6vw;
    height: 34vh;
    border-radius: 1.8rem;
}

.photo_three_one {
    /* border:1px solid; */
    width: 82vw;
    height: 16vh;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
}

.photo1-2 img {
    width: 26.6vw;
    height: 12vh;
    border-radius: 1.8rem;
}

.sky {
    /* border: 1px solid black; */
    width: 100vw;
    height: 64vh;
    background-color: rgb(214, 240, 255);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.skies {
    /* border: 1px solid black; */
    width: 100vw;
    height: 68vh;
    background-color: rgb(214, 240, 255);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.OFF_50 {
    display: flex;
    /* border: 1px solid black; */
    width: 82vw;
    height: 10vh;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.view {
    color: #046b8e;
    font-weight: bolder;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.views {
    color: #046b8e;
    font-weight: bolder;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewses {
    color: #046b8e;
    font-weight: bolder;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finds {
    color: rgb(204, 0, 0);
    font-weight: 900;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_six {
    /* border:1px solid; */
    width: 82vw;
    height: 52vh;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
}

.photo_sixes {
    /* border:1px solid; */
    width: 82vw;
    height: 52vh;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
}

.card {
    /* border:1px solid green; */
    width: 13vw;
    height: 46vh;
    background-color: white;
    border-radius: 0.8rem;
}

.card1 {
    /* border:1px solid green; */
    width: 13vw;
    height: 52.6vh;
    background-color: white;
    border-radius: 0.8rem;
}

.smart {
    font-size: 0.9rem;
    font-weight: 550;
}

.card_photo {
    /* border: 1px solid red; */
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963064/smartees-round-neck-half-sleeve-tshirt-blue-l-product-images-441861543020-0-202509111157_wwvd0w.webp");
    width: 10.5vw;
    height: 26vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 30vh 30vh;
    /* position: relative; */
}

.Add {
    border: 1px solid rgba(0, 0, 0, 0.228);
    width: 12vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 2rem;
    color: green;
    font-weight: 550;
}

.card_photo1 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963063/live-fashion-pink-women-croco-textured-pu-sling-bag-product-images-rvxe08foxn-0-202409111402_eckfmp.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo2 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963060/bruton-fit-man-sneaker-shoes-for-men-orange-product-images-rvzri5gtep-0-202401160409_b7ifvw.webp");
    width: 10.5vw;
    height: 26vh;
    display: flex;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo3 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963058/bullmer-brown-trendy-printed-cotton-blend-crew-neck-round-neck-half-sleeve-tshirt-for-men-non-returnable-product-images-rvbhiygfot-0-202508131353_uwyeer.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo4 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963056/hotstyle-men-s-black-sneakers-product-images-rvtzml7sxu-0-202412241913_vobti1.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo5 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963054/pearluxis-women-sling-bags-product-images-rveqzgi5vw-0-202508311747_ngokmo.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo6 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963043/swarajya-india-indra-jyoti-pooja-oil-900ml-enriched-sandalwood-fragnance-lamp-oil-puja-oil-deepam-oil-used-in-pooja-festivals-havan-i-product-images-orv3ipgeuz2-p599338475-0-202509090747_wkeqzl.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10.5vw;
    height: 26vh;
    margin: auto;
}

.card_photo7 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963042/salutary-pure-camphor-tablet-100-gram-kapoor-tablet-pack-of-2-100-gram-each-pack-product-images-orvritghimo-p612068199-0-202508011411_tv5p3m.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo8 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963037/om-phool-batti-cow-ghee-diya-for-puja-100-pieces-wax-free-vegan-ghee-batti-wicks-jyot-for-puja-aarti-pack-of-1-yellow-100-pcs-product-images-orvtqxyk4pg-p594808262-0-202210261704_gfhyov.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo9 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963036/limetro-stainless-steel-mirror-finish-dinner-set-combo-set-of-6-pcs-product-images-o493831374-p603846735-0-202311071551_tzlyo5.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo10 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963033/neelam-stainless-steel-ultra-pressure-cooker-with-outer-lid-2l-3l-5l-3-pcs-product-images-o493850160-p607295711-0-202401111353_ky3del.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo11 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1760963032/ginara-steel-saucepan-1-5-l-product-images-o494241052-p604744495-0-202309221749_cpbhiq.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.heart {
    /* position:absolute; */
    display: flex;
    /* justify-content: end; */
    margin-left: 9.4rem;
    margin-top: 1rem;
    width: 4vw;
    height: 4vh;
}

.heart1 {
    /* position:absolute; */
    display: flex;
    /* justify-content: end; */
    margin-left: 9.4rem;
    margin-top: 1rem;
    width: 4vw;
    height: 4vh;
}

.greens {
    color: green;
    font-weight: 600;
    /* border: 1px solid green; */
    background-color: rgb(234, 255, 234);
    width: 5vw;
    height: 3vh;
    display: flex;
    justify-content: center;
}

.discount {
    opacity: 0.5;
    font-size: 0.9rem;
    font-weight: 550;
}

.for-flex103 {
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    width: 10vw;
    height: 3vh;
    gap: 6%;
}

.s_box {
    /* border:1px solid red; */
    width: 12vw;
    height: 16vh;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo_o {
    /* border:1px solid; */
    width: 82vw;
    height: 40vh;
    display: flex;
    margin: auto;
    justify-content: space-between;

}

.card_one {
    /* border:1px solid green; */
    width: 13vw;
    height: 40vh;
    background-color: white;
}

.card_one img {
    width: 13vw;
    height: 40vh;
    border-radius: 1.6rem;

}

.card_ones {
    /* border:1px solid green; */
    width: 13vw;
    height: 34vh;
    background-color: white;
}

.card_ones img {
    width: 13vw;
    height: 34vh;
    border-radius: 1.6rem;

}

.coupon_down {
    /* border:1px solid; */
    width: 82vw;
    height: 28vh;
    display: flex;
    margin: auto;
}

.coupon_down img {
    width: 82vw;
    height: 28vh;
    display: flex;
    border-radius: 2rem;
}

.containers {
    /* border:1px solid black; */
    width: 100vw;
    height: 74vh;
    background-color: rgba(0, 0, 0, 0.048);
    display: flex;
    flex-direction: column;
}

.CONTAIN_BOX {
    /* border: 1px solid red;  */
    width: 82vw;
    height: 60vh;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.long_box {
    /* border:1px solid green; */
    width: 100vw;
    height: 10vh;
    display: flex;
}

.box {
    /* border:1px solid rgb(146, 0, 95); */
    width: 14vw;
    height: 60vh;
}

.box_five {
    /* border:1px solid rgb(146, 0, 95); */
    width: 20vw;
    height: 60vh;
}

.weights {
    font-weight: bolder;
}

.weights_style {
    font-weight: bolder;
    font-size: 1.6rem;
}

.for-flex1187 {
    display: flex;
    /* border: 1px solid blue; */
    width: 18vw;
    height: 6vh;
    justify-content: space-between;
}

.bag {
    display: flex;
    justify-content: center;
}

.bag img {
    width: 4vw;
    height: 4vh;
}

.long_int {
    /* border:1px solid green; */
    width: 82vw;
    height: 10vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.rectangle {
    /* border:1px solid olive; */
    display: flex;
    width: 30vw;
    height: 10vh;
    align-items: center;
    font-size: 0.8rem;
}

.f_size {
    font-size: 0.8rem;
}



.top {
    /* border:1px solid green; */
    width: 82vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.pick {
    /* border: 1px solid blueviolet; */
    width: 82vw;
    height: 7vh;
    font-size: 1.6rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}


.coupon_downs {
    /* border:1px solid; */
    width: 82vw;
    height: 28vh;
    display: flex;
    margin: auto;
}

.coupon_downs img {
    width: 82vw;
    height: 28vh;
    display: flex;
    border-radius: 2rem;
    padding-top: 20rem;
}

.card_photo12 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128248/zebronics-zeb-wing-wired-optical-usb-mouse-with-high-precision-plug-and-play-digital-o491998376-p590960989-0-202112301710_kuvfzp.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo13 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128242/wonderchef-crescent-electric-kettle-1-5-l-digital-o494226707-p609129469-0-202411271819_fbuq60.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo14 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128245/kaltron-7-socket-extension-board-with-fuse-cord-length-2-5-meter-white-product-images-orvox4ywkjx-p600479303-0-202304181220_p8za5k.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo15 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128239/samsung-usb-c-to-usb-c-cable-universal-compatibility-reversible-design-2-amp-100-cm-1-m-length-high-speed-data-transfer-charging-original-white-ep-da705bwegin-digital-o491996849-p590442824-0-202410211849_xi6yd6.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo16 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128236/hoppup-predator-xo1-gaming-earbuds-with-50h-playtime-13mm-drivers-40ms-low-latency-enc-bluetooth-headset-black-true-wireless-product-images-orvhrt4bpm6-p611312636-0-202504161105_et0ojy.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo17 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128231/reconnect-be01803-wireless-earphone-black-digital-o494249502-p609899125-0-202409041725_mudswt.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo18 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128708/pinkcity-wellness-groundnut-oil-5-litres-wooden-cold-pressed-peanut-oil-1-ltr-x-5-bottles-product-images-orvukhxrmwi-p596975160-0-202507061246_xgqhus.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo19 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128711/rajbhog-plain-mankhana-250-g-product-images-orvwgrptaln-p590809907-0-202109301943_f4sc9m.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo20 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128704/navjeevan-jeera-whole-super-saver-pack-1kg-product-images-orvp3uhc7lh-p609570151-0-202407241129_r004rd.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo21 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128700/veer-brand-zaika-long-grain-basmati-rice-10-kg-product-images-orvvxz94klo-p596533238-0-202501301244_l9enec.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo22 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128699/sarfa-kachi-ghani-cold-pressed-mustard-oil-1l-pouch-product-images-orv8hrjuqpj-p609353052-0-202507311706_swjlrx.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo23 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761128694/lali-balaji-california-premium-almond-200g-product-images-orviuff6hly-p590652798-0-202109022136_nerxay.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo24 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761124544/true-elements-rolled-oats-1-kg-buy-1-get-1-free-rolled-oats-that-keeps-you-full-till-lunch-100-natural-and-gluten-free-oats-oats-for-weight-loss-management-product-images-orvhzbsojav-p603678001-0-202310091405_tsprx3.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo25 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129728/joy-honey-and-almonds-nourishing-body-lotion-300ml-pack-of-2-product-images-orvjsxhk5f0-p602262449-0-202501281434_f96z5j.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo26 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129723/dabur-red-toothpaste-700g-2-packs-each-with-2-x-175g-1-toothbrush-worth-rs-30-fluoride-free-bad-breath-cavity-protection-plaque-removal-13-ayurvedic-herbs-for-whole-mouth-health-product-images-orvtlpzjqsx-p61_klc1vj.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo27 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129727/himalaya-gentle-baby-shampoo-400-ml-product-images-orvcwhnyh7j-p610030233-0-202409261357_t9htqi.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo28 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129718/lizol-disinfectant-surface-floor-cleaner-liquid-citrus-5-litre-product-images-orvtmfjuxuo-p601213316-0-202403271318_hja0ef.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo29 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129717/continental-speciale-assorted-coffee-sachets-96gm-pack-of-48-flavour-instant-coffee-powder-2g-each-hazelnut-vanilla-mocha-caramel-makes-48-cups-enjoy-hot-or-cold-product-images-orvqoze3kua-p612033332-0-202507_wc50yr.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.viewse {
    color: #046b8e;
    font-weight: bolder;
    font-size: 0.8rem;
    padding-left: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_photo30 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129699/kuchipoo-track-pant-for-boys-girls-multicolor-pack-of-5-product-images-rvvt99wtff-0-202412191520_1_o62cfm.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo31 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129696/bullmer-trendy-clothing-set-with-oversized-t-shirt-pants-co-ords-for-men-non-returnable-product-images-rvtv9czdxz-0-202506192036_1_gayxtf.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo32 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129693/eyebogler-teal-tshirts-men-tshirt-tshirt-for-men-tshirt-mens-tshirt-men-s-polo-neck-regular-fit-half-sleeves-colorblocked-t-shirt-product-images-rvkye5vraq-0-202504231102_1_b20otd.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo33 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129689/sender-men-casual-sports-shoes-black-product-images-rvqbsnymfz-0-202502191218_1_fbs6pk.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo34 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129685/1stop-fashion-kurti-for-women-product-images-rvlirebxmp-0-202505291209_1_y53umm.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo35 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129679/ddg-women-printed-naira-cut-kurti-product-images-rvg1qlxp4h-0-202502261544_1_s2hgsc.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo36 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142664/melbon-d115-smart-band-all-android-ios-device-product-images-orvefovmdsf-p593683805-0-202209091536_2_ykjhxe.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo37 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761143141/mak-20w-type-c-pd-fast-charger-with-lightning-cable-high-speed-charging-for-iphone-12-12-pro-12-mini-12-pro-max-11-xs-xr-x-8-plus-ipad-pro-air-mini-white-product-images-orvlattmg9q-p611965703-0-2025071719_2_ilulcl.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo38 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142654/xome-02-bluetooth-neckband-with-fast-charging-type-c-bt-5-2-dual-pairing-72-hours-playback-water-sweat-resistant-orange-product-images-orvvda9lcyk-p611209033-0-202503251137_2_defk9e.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo39 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142659/longway-kwidlight-weight-non-stick-teflon-coated-dry-iron-electric-iron-for-clothes-1-year-warranty-1100-watt-black-product-images-orvfs5k4ua1-p603932295-0-202503201617_1_cuuism.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo40 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142649/melbon-unique-t55-punnkfunnk-unique-t55-1-85-hd-display-bluetooth-calling-smart-watch-100-sports-modes-heart-rate-monitoring-spo2-ai-voice-assistant-ip68-pink-product-images-orv5mdriqwd-p607990937-0-20240_1_pc8y13.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo41 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142644/mak-65w-supervooc-dash-fast-charging-adapter-6a-65w-vooc-dart-warp-dash-technology-with-red-type-c-cable-travel-friendly-fast-charger-white-cable-included-product-images-orv7qc40l6x-p611964854-0-202507161_1_zocvw1.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo42 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142618/decent-home-polycotton-single-bedsheet-with-1-pillow-covers-228-x-152-cm-grey-product-images-orvij8z2woy-p599717859-0-202303221748_w5bykb.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo43 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142613/quirky-home-cotton-blend-double-bedsheet-with-2-pillow-cover-duke-db-607-product-images-orvkjnsbrgp-p612121019-0-202510151542_uasvej.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo44 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142608/evokk-india-bedsheet-for-single-bed-ultra-soft-microfiber-with-pillow-cover-printed-single-size-sheet-for-home-hotel-resort-guest-house-50x87-inches-sky-flower-product-images-o494734205-p612403762-0-202509041_uccxnd.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo45 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142604/apni-dukan-240-tc-glace-cotton-double-fitted-gray-gola-bedsheet-with-2-pillow-covers-225-x-225-cm-product-images-orvufpulnaw-p612381845-0-202509011208_bjpcj0.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo46 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142599/decent-home-polycotton-3d-printed-single-bedsheet-with-1-pillow-covers-228-x-152-cm-blue-product-images-orveyfjb1gm-p599918273-0-202309301128_jkklmw.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo47 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142594/quirky-home-floral-print-cotton-blend-double-bedsheet-with-2-pillow-cover-duke-db-604-product-images-orvr9p9lzyi-p612117659-0-202510140934_xeyurs.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo48 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142569/men-lightly-washed-slim-fit-jeans-model-420497214_darkblue-0-202410211727_ohv5bv.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo49 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142564/printed-slim-fit-leggings-with-elasticated-waist-model-441149435_navyblue-0-202307251454_jwgnzi.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo50 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142560/reliance-jewels-999-laxmi-round-gold-coin-2-g-product-images-o30000691-p603073733-0-202310031754_wkpgzt.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo51 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142555/reliance-jewels-999-bal-gopal-round-gold-coin-1-g-product-images-o30000682-p603073580-0-202312061332_a3oqev.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo52 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142550/graphic-print-round-neck-t-shirt-model-443009898_grey-0-202306131810_ajwing.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo53 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761142546/men-flat-front-slim-fit-trousers-model-420501871_lgtgrey-0-202505301711_c8d1fk.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo29 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129717/continental-speciale-assorted-coffee-sachets-96gm-pack-of-48-flavour-instant-coffee-powder-2g-each-hazelnut-vanilla-mocha-caramel-makes-48-cups-enjoy-hot-or-cold-product-images-orvqoze3kua-p612033332-0-202507_wc50yr.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo29 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129717/continental-speciale-assorted-coffee-sachets-96gm-pack-of-48-flavour-instant-coffee-powder-2g-each-hazelnut-vanilla-mocha-caramel-makes-48-cups-enjoy-hot-or-cold-product-images-orvqoze3kua-p612033332-0-202507_wc50yr.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo29 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129717/continental-speciale-assorted-coffee-sachets-96gm-pack-of-48-flavour-instant-coffee-powder-2g-each-hazelnut-vanilla-mocha-caramel-makes-48-cups-enjoy-hot-or-cold-product-images-orvqoze3kua-p612033332-0-202507_wc50yr.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo29 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129717/continental-speciale-assorted-coffee-sachets-96gm-pack-of-48-flavour-instant-coffee-powder-2g-each-hazelnut-vanilla-mocha-caramel-makes-48-cups-enjoy-hot-or-cold-product-images-orvqoze3kua-p612033332-0-202507_wc50yr.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo29 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129717/continental-speciale-assorted-coffee-sachets-96gm-pack-of-48-flavour-instant-coffee-powder-2g-each-hazelnut-vanilla-mocha-caramel-makes-48-cups-enjoy-hot-or-cold-product-images-orvqoze3kua-p612033332-0-202507_wc50yr.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.card_photo29 {
    background-image: url("https://res.cloudinary.com/dtw64z2mf/image/upload/v1761129717/continental-speciale-assorted-coffee-sachets-96gm-pack-of-48-flavour-instant-coffee-powder-2g-each-hazelnut-vanilla-mocha-caramel-makes-48-cups-enjoy-hot-or-cold-product-images-orvqoze3kua-p612033332-0-202507_wc50yr.webp");
    width: 10.5vw;
    height: 26vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.viewer {
    color: #046b8e;
    font-weight: bolder;
    font-size: 0.8rem;
    padding-left: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
    text-decoration: none;
}